<table>
    <thead>
		<th width="15%">Datum</th>
		<th width="70%">Titel &amp; Themen</th>
		<th width="15%">Dauer</th>
	</thead>
	<tbody>
	{% for episode in podcast.episodes %}
		<tr class="podcast_archive_element">
			<td class="date">
				<span class="release_date">
					{{ episode.publicationDate.format('F Y') }}
					<!-- https://secure.php.net/manual/en/function.date.php -->
				</span>
			</td>
			<td class="title">
				<a href="{{ episode.url }}">
					<strong>{{ episode.title }}</strong><br>
				</a>
				{{ episode.subtitle }}
				</td>
				<td class="duration">
					{% set duration = episode.duration %}
					<strong>
					    {% if duration.hours > 0 %} {{ duration.hours }}h{% endif %} {{ duration.minutes|padLeft("0",2)}}min
					</strong>
				</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>

<style type="text/css">
	.podcast_archive_element td {
		vertical-align: middle;
		}
</style>
