{{ episode.player }}
<div style="float:right; margin:10px;">
    {{ flattr.button({ style: 'large' }) }}
</div>
<p>{{ episode.summary }}</p>
<p><i>Wenn euch unser Podcast gefällt, <a href="https://itunes.apple.com/de/podcast/konscience/id650556563">bewertet uns bitte bei iTunes</a> und empfehlt uns weiter. Wir freuen uns auch über Fragen und konstruktive Kritik als <a href="{{  episode.url }}#respond">Kommentar</a>, oder <a href="http://www.konscience.de/impressum/kontakt/">per E-Mail</a>.</i></p>
{{ episode.player }}<br>
[podlove-template template="CC-slim-downloads"]
[podlove-episode-contributor-list flattr="yes" groupby="group"]
<h1>Sendungsnotizen</h1>
